*{
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#firstHead{
    margin-left: 60px;
}

.headline{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 4rem;
}

.slogan{
   font-family: "Mozilla Headline", serif;
   font-weight: 400; 
   font-size: 1.6em;
   
}

nav{
    position:fixed;
    margin-left: 45rem;
}

nav ul{
    display: flex;
    list-style: none;
    padding-right: 50px;
    height: 20vh;
}

nav li{
    margin-left:  20px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
}

a{
    color: gray;
}

.page1,img{
    display: flex;
    padding: 10px;
    justify-content: center;
}

.img_home{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 6%;
}

.page2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.about-header{
    font-family: 'Mozilla headline',sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-left: 85px;
}

.about-text{
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-left: 80px;
}

.about-text1{
    font-family: 'Arimo',sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 80px;
}

.img-page2{
    display: flex;
    flex-direction: row;
}

.img_about{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 5%;
    margin-right: 30px;
    padding: 0;
}

.page3{
    height: 85vh;
}

.location-header{
    margin-left: 60px;
    font-family: 'Mozilla headline',sans-serif;
    font-weight: 600;
}

.location-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-page3{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.img_location{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 5%;
}

.text_location{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    margin-top: 10px;
}

.contact-text{
    margin-left: 80px;
}

@media(max-width:768px){
    header{
        flex-direction: column;
        padding: 20px;
    }

    nav{
        order: 1;
        margin-left: 0;
        width: 100%;
    }

    nav ul{
        display: flex;
        justify-content: center;
        padding-right: 30px;
    }

    nav li{
        padding: 5px;
        margin-left: 0;
        font-size: 16px;
    }

    #firstHead{
        order: 2;
        text-align: center;
        height: auto;
        margin-left: 0;
    }

    .headline{
        font-size: 3rem;
        margin-bottom: 10px;
        margin-top: 100px;
    }

    .slogan{
        font-size: 1em;
    }

    .page1{
        order: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img_home{
        width: 300px;
        height: auto;
        border-radius: 6%;
    }

    .page2{
        order: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text-container{
        margin-top: 80px;
    }

    .img-page2{
        display: flex;
        flex-direction: column;
    }

    .img_about{
        margin-right: 0;
        padding: 10px;
    }

    .about-header{
        font-size: 25px;
        margin-left: 0;
        text-align: center;
    }

    .about-text,
    .about-text1{
        font-size: 15px;
        margin-left: 0;
        text-align: center;
    }

    .page3{
        order: 5;
    }

    .location-header{
        font-size: 25px;
        text-align: center;
        margin-left: 0;
    }

    .img-page3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img_location{
        width:300px;
        height: auto;
        border-radius: 6%;
    }

    
}